@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

/* Header Styles */
header.title {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center; 
  }
  
  header.title h1 {
    font-size: 36px;
    margin: 5px;
  }
  
/* Nav */
header.nav {
    background-color: #000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #555
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo img {
    width: 5%;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  transition: ease-in-out 0.2s;
}

.nav-links a:hover {
  text-decoration: none;
  color: #d43939;
  font-weight: 800;
}


/* Footer Styles */
.footer {
  border-top: 1px solid #555;
  display: flex;
  grid-template-columns: 1fr auto;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left img{
  max-width: 3%; 
  height: auto;
  margin: 20px;
}

.copyright {
    font-size: 14px;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-links {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: ease-in-out 0.2s;
}

.footer-links a:hover {
  font-weight: bold;
    color: #d43939;
}

/* Media Query */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Navigation Bar adjustments*/
    header {
      padding: 20px 0;
    }
  
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: 0 auto;
    }
  
    .logo img {
      width: 5%;
      height: auto;
    }
  
    .nav-links li {
      margin-left: 20px;
    }
  
    .nav-links a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }
  
    .nav-links a:hover {
      text-decoration: none;
      color: #d43939;
      font-weight: bold;
    }
  
    /* Footer adjustments*/
    .footer {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: #000000;
      color: #fff;
      padding: 20px;
    }
  
    .footer-left {
      display: flex;
      align-items: center;
    }
  
    .footer-left img {
      max-width: 5%;
      height: auto;
      margin-right: 10px;
    }
  
    .copyright {
      font-size: 14px;
    }
  
    .footer-right {
      text-align: right;
    }
  
    .footer-links ul {
      list-style: none;
      padding: 0;
      display: flex;
    }
  
    .footer-links li {
      margin-right: 20px;
    }
  
    .footer-links a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
    }
  
    .footer-links a:hover {
      color: #d43939;
    }
  }
  
  @media screen and (max-width: 767px) {
    /* Header adjustments */
    .nav-links {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    }
    
    .nav-links li {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    }
    
    .logo img {
    width: 15%;
    margin-top: 10px;
    }
  
  
    /* Footer adjustments */
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 10px;
      }
    
      .footer-left img {
        max-width: 10%;
        margin: 0;
        margin-bottom: 10px;
      }
    
      .copyright {
        margin-left: 50px;
        font-size: 12px;
        margin-top: 10px;
      }
    
      .footer-right {
        width: 100%;
      }
    
      .footer-links ul {
        justify-content: center;
      }
    
      .footer-links li {
        margin-right: 20px;
      }
    
      .footer-links a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
      }
    
      .footer-links a:hover {
        color: #d43939;
      }
  }
  
