
/* hero beach */
.hero-beach:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.637);
    transition: background-color ease-in-out 0.2s;
}

.hero-beach {
    margin: 10px 40px 15px 40px;
    text-align: center;
    padding: 150px 0;
    position: relative;
    background-image: url('../images/photo-beach.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: ease-in-out 0.2s;
}

.hero-content-beach {
    position: relative;
    z-index: 1;
}


.hero-beach h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-beach p {
    margin: 20px 100px;
}

.hero-beach:hover{
    transform: scale(1.01,1.01);
}

.hero-beach:hover:before {
    background-color: rgba(0, 0, 0, 0.178); 
}

/* hero animals */
.hero-animals:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.637);
}

.hero-animals {
    margin: 10px 40px 15px 40px;
    text-align: center;
    padding: 150px 0;
    position: relative;
    background-image: url('../images/photo-animals.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: ease-in-out 0.2s;
}

.hero-content-animals {
    position: relative;
    z-index: 1;
}

.hero-animals h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-animals p {
    margin: 20px 100px;
}

.hero-animals:hover{
    transform: scale(1.01,1.01);
}

.hero-animals:hover:before {
    background-color: rgba(0, 0, 0, 0.178); 
}

/*button */
.button {
    background-color: #0000002d;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    margin-top: 10px;
    font-weight: 400;
}

.button:hover {
    font-weight: bolder;
    font-size: 18px;
}